<a href="https://colab.research.google.com/github/YanLukas42/Collab-From-Google/blob/main/SimpleListExercisesipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a list, write a Python program to swap first and last element of the list.

Examples:

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [ ]:
lista_entregue = [1, 2, 3]

def trocar(listap):
  temp = listap[0]
  listap[0] = listap[-1]
  listap[-1] = temp

  return listap

l = trocar(lista_entregue)
print(l)

Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

Examples:  

    Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
    Output : [19, 65, 23, 90]

    Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
    Output : [1, 5, 3, 4, 2]

In [ ]:
lis = [23, 65, 19, 90]
pos1 = 1
pos2 = 3


def trocar(lista, p1, p2):
  temp = lista[p2 - 1]
  lista[p2 - 1] = lista[p1 - 1]
  lista[p1 - 1] = temp

  return lista

l = trocar(lis, pos1, pos2)
print(l)

[19, 65, 23, 90]

Given two numbers, write a Python code to find the Maximum of these two numbers.

Examples:

    Input: a = 2, b = 4
    Output: 4

    Input: a = -1, b = -4
    Output: -1

In [ ]:
a, b = 2, 4
x = a if a>b else b
print(x)

4

Python provides us with various ways of reversing a list. We will go through some of the many techniques on how a list in Python can be reversed.

Example:

Input: list = [4, 5, 6, 7, 8, 9]
Output: [9, 8, 7, 6, 5, 4]
Explanation: The list we are having in the output is reversed to the list we have in the input

In [ ]:
lista = [1, 2, 3, 4, 5]

def inverte(list):

  lis2 = []

  l = len(list)
  for i in range(1, l + 1):
    lis2.append(list[-i])

  return lis2

x = inverte(lista)
print(x)

[5, 4, 3, 2, 1]

Given a list in Python and a number x, count the number of occurrences of x in the given list.

Examples:

Input: lst = [15, 6, 7, 10, 12, 20, 10, 28, 10], x = 10
Output: 3
Explanation: 10 appears three times in given list.

Input: lst = [8, 6, 8, 10, 8, 20, 10, 8, 8], x = 16
Output: 0
Explanation: 16 appears zero times in given list.

In [ ]:
lista = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10

count = 0
for i in lista:
  if i == x:
    count+=1

print(count)

3

Given a List. The task is to find the sum and average of the list. The average of the list is defined as the sum of the elements divided by the number of elements.

Examples:

Input: [4, 5, 1, 2, 9, 7, 10, 8]
Output:
sum =  46
average =  5.75

Input: [15, 9, 55, 41, 35, 20, 62, 49]
Output:
sum =  286
average =  35.75

In [ ]:
lista = [4, 5, 1, 2, 9, 7, 10, 8]

sum = 0
len = 0
for i in lista:
  len+=1
  sum+=i

print(f"sum = {sum}; average = {sum/len}")

sum = 46; average = 5.75

Output :

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [ ]:
lista = [12, 67, 98, 34]
lis= []
for i in lista:
  sum = 0
  for s in str(i):
    sum += int(s)
  lis.append(sum)
lis

[3, 13, 17, 7]

We are given a list of numbers and our task is to write a Python program to find the smallest number in given list. For the following program we can use various methods including the built-in min method, sorting the  array and returning the last element, etc.
Example:

Input : list1 = [10, 20, 4]
Output : 4

Input : list2 = [20, 10, 20, 1, 100]
Output : 1

In [ ]:
list2 = [20, -10, 20, 1, 100]

min = list2[0]
for i in list2:
  if i < min:
    min = i

print(min)

-10